* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /*background-color: #CCC;*/
    margin: 0;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    /* background-image: url('../img/register_bg.webp');  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*filter: grayscale(100%);  Make the image black-and-white */
    color: #FFF;
    /*box-sizing: border-box;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

@media (min-width: 768px) {
    body {
      /* background-image: url('../img/register-tablet_bg.webp'); */
    }
  }
  
  @media (min-width: 1200px) {
    body {
      /* background-image: url('../img/register-large_bg.webp'); */
    }
  }


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: rgba(0, 0, 0, 0.3); /* Dark overlay for contrast */
    overflow-y: scroll;
    overflow-x: hidden;
}

 header {
    text-align: center;
    padding: 20px 0;
    padding-top: 40px;
}

header h1 {
    color: #FFF;
    color: rgba(14, 5, 44, 0.9);
}

.main form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px 0;
    padding: 30px;

    background-color: rgba(0, 19, 82, 0.8);
    background: linear-gradient(
        135deg,
        rgba(0, 10, 50, 0.9), /* Darker start */
        rgba(0, 40, 100, 0.95), /* Transition to darker mid */
        rgba(0, 19, 82, 0.8), /* Midpoint lighter */
        rgba(0, 80, 180, 0.9), /* Lighter transition */
        rgba(0, 19, 82, 0.8), /* Return to lighter */
        rgba(0, 10, 50, 0.9) /* Darker end */
    );
    border-radius: 8px;
    backdrop-filter: blur(30px); /* Apply blur to the background */
    -webkit-backdrop-filter: blur(30px); /* Safari support */
    border: 1px solid rgba(245, 245, 255, 0.2); /* Light border for definition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.main form .form-title {
    text-align: center;
    font-size: 23px;
    opacity: 0.6;
    margin-top: 8px;
    margin-bottom: 16px;
}

.main form fieldset {
    padding: 10px 10px;
}

.main form legend {
    font-style: italic;
    font-weight: 800;
}

.main form label {
    width: 100%;
}

.main form input[type="text"],
.main form input[type="email"],
.main form input[type="tel"],
.main form #local_govt_id,
.main form #constituency_id {
    /*display: block;*/
    padding: 10px 10px;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 4px;
    width: 100%;
    /*border: none;*/
    font-size: 17px;
    color: #FFF;
    background-color: rgb(238, 238, 238);
    background-color: rgba(228, 228, 238, 0.3);
    border: 1px solid rgb(255, 255, 255);
    border: 1px solid rgba(245, 245, 255, 0.3);
    box-sizing: border-box;
    -webkit-appearance: none; /* Remove default arrow in Chrome */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    appearance: none; /* Remove default arrow in other browsers */
}

.main form input[type="text"]:hover, 
.main form input[type="email"]:hover,
.main form input[type="tel"]:hover,
.main form #local_govt_id:hover,
.main form #constituency_id:hover {
    background-color: rgb(210, 210, 210);
    background-color: rgba(210, 210, 210, 0.3);
}

.main form input[type="text"]::placeholder, 
.main form input[type="email"]::placeholder,
.main form input[type="tel"]::placeholder {
    font-size: 17px;
    color: rgb(210, 210, 210);
}

.main form #local_govt_id,
.main form #constituency_id {
    margin-bottom: 20px;
}

.main form #local_govt_id option,
.main form #constituency_id option {
    padding: 15px 10px;
    border-radius: 4px;
    width: 100%;
    font-size: 17px;
    color: rgb(45, 45, 45);
    color: rgba(45, 45, 45, 0.8);
    background-color: rgb(245, 245, 245);
    background-color: rgba(245, 245, 245, 0.3);
    border: 1px solid rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    -webkit-appearance: none; /* Remove default arrow in Chrome */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    appearance: none; 
}

.main form input[type="file"], .main form input[type="radio"] {
    margin-top: 10px;
}

.main form .reps-section,
.main form .profile_pic_format {
   margin: 10px 10px; 
   text-align: center;
   opacity: 0.6;
}

.main form .profile_pic {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 640px) {
    .main form .profile_pic {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.main form .profile_pic .imageinput_box {
    display: flex;
    flex-direction: column;

}

.main form .profile_pic .preview {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    margin-top: 10px;
    object-fit: cover;
}


.main form button[type="submit"],
.main form button[type="button"] {
    margin-top: 20px;
    margin-right: 7px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main form button[type="submit"] {
    background-color: transparent;
    border: 2px solid rgba(14, 5, 44, 0.9);
    transition: background-color 0.3s ease;
}

.main form button[type="submit"]:hover {
    background-color: rgba(255, 36, 12, 0.9);
    background-color: rgba(2, 13, 62, 0.9);
}

.main form button[type="button"] {
    background-color: rgba(14, 5, 44, 0.9);
    background-color: rgba(245, 245, 255, 0.3);
}


/* Notifictions  */
.flash-notification {
    position: fixed;
    /*right: 10px;*/
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 10px 20px;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    z-index: 999;
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.flash-notification.success {
    background-color: rgba(11, 112, 20, 0.8);
}
.flash-notification.error {
    background-color: rgba(176, 12, 28, 0.8);
}

.warning-notification {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 10px 20px;
    color: rgb(69, 60, 10);
    border: 1px sold gold;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
    /*display: block;*/
    opacity: 0;
    transition: top 0.5s ease, opacity 0.5s ease;
}

.warning-notification.validate {
    background-color: rgb(247, 228, 120);
}

@media screen and (min-width: 640px) {
    .flash-notification, 
    .warning-notification {
        max-width: 400px;
    }
}


/* Loader */
.loader {
    width: 60px;
    aspect-ratio: 1;
    z-index:1000;
}
.loader:before,
.loader:after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: rgba(176, 12, 28, 0.6);
    -webkit-mask:repeating-linear-gradient(#000 0 5px,#0000 0 10px);
    animation: l35 1.5s infinite;
}
.loader:after {
    -webkit-mask:repeating-linear-gradient(#0000 0 5px,#000 0 10px);
    --s:-1;
}
@keyframes l35 {
    0%,
    10% {transform: translate(0) rotate(0)}
    35% {transform: translate(calc(var(--s,1)*50%)) rotate(0)}
    66% {transform: translate(calc(var(--s,1)*50%)) rotate(calc(var(--s,1)*180deg))}
    90%,
    100% {transform: translate(0) rotate(calc(var(--s,1)*180deg))}
}

